/* #region general */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0;
}

:root {
    --main-color: rgba(49, 97, 224, 1);
    --light-color: rgba(114, 137, 218, 1);
    --lighter-color: rgba(246, 246, 246, 1);
    --dark-color: rgba(35, 39, 42, 1);
    --foot-title-color: rgba(114, 137, 218, 1);
    --button-color: rgba(142, 161, 225, 1);
}

/* #endregion general */

/* #region utility  */
.content {
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.big_block {
    height: 425px;
    width: 45%;
}

.small_block {
    background-image: pink;
    height: 425px;
    width: 30%;
}

.wave>img {
    width: 100%;
    fill: aliceblue;
}


h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;

}

.p_section {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;

}


/* #endregion utility  */


/* #region header */

header {
    padding: 1rem;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #region nav */

nav {
    height: 30px;
    width: 75%;
    display: flex;
}

.nav {
    justify-content: center;
    align-items: center;

}


.logo {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.link {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.login {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.login_button {
    background-color: var(--lighter-color);
    text-decoration: none;
    color: black;
    width: 30%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;


}

.click_link {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.nav_link {
    color: var(--lighter-color);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;

}

/* #endregion nav */
/* #endregion header */

/* #region main */

.introduction {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 70px 0 150px 0;
    display: flex;
    flex-direction: column;
}

.intro {
    width: 48%;
    text-align: center;
    color: var(--lighter-color);
}

h1 {
    width: 100%;
    font-size: 41px;
    padding: 20px 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;

}

.intro_text {
    padding-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
}

.mac {
    color: black;
    text-decoration: none;
    margin: 10px 10px 5px 10px;
    background-color: var(--lighter-color);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
}

.open {
    color: var(--lighter-color);
    text-decoration: none;
    margin: 10px 10px 5px 10px;
    background-color: var(--dark-color);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
}


.server {
    background-color: white;
    padding: 100px 0 100px 0;
    height: 900px;
}

.server_container {
    width: 75%;
    display: flex;
}

.image_server {
    width: 65%;
    background-image: url(../img/item1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 450px;
}

.text_server {
    width: 35%;
}




.channel {
    background-color: var(--lighter-color);
    padding: 100px 0 100px 0;
    height: 900px;
}

.channel_container {
    width: 75%;
    display: flex;
}

.image_channel {
    width: 65%;
    background-image: url(../img/item2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 450px;
}

.text_channel {
    width: 35%;
}



.comunity {
    background-color: white;
    padding: 100px 0 100px 0;
    height: 900px;
}

.comunity_container {
    width: 75%;
    display: flex;
}

.image_comunity {
    width: 65%;
    background-image: url(../img/item3.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 450px;
}

.text_comunity {
    width: 35%;
}




.tecnology {
    display: flex;
    justify-content: center;
    background-color: var(--lighter-color);
    height: 1300px;
}

.tecnology_container {
    width: 75%;
    display: flex;
    flex-direction: column;

}

.text_tecnology {
    text-align: center;
    align-items: center;
}

.image_tecnology {
    width: 100%;
    height: 620px;
    background-image: url(../img/item4-big.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.ready {
    width: 60%;
    height: 70px;
    margin-top: 4rem;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.mac-2 {
    margin-top: 30px;
    background-color: var(--button-color);
    color: white;
    text-decoration: none;
    padding: 8px 20px 8px 20px;
    border-radius: 20px;
    width: 20%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    
}


/* #endregion main */

/* #region footer */


.main_footer {
    padding-top: 50px;
    height: 400px;
    background-color: var(--dark-color);
}

.foot_container {
    width: 75%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid grey;
    padding-bottom: 50px;
    ;

}

/* #region big_foot container  */
.big_foot {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


#language {
    color: white;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;

}

#ita {
    width: 20px;

}

.social {
    width: 100%;
    margin-top: 10px;
    color: white;
}

i {
    margin-right: 13px;
}

.foot_list {
    padding-left: 60px;
}

.title_foot {
    margin-bottom: 0.5rem;
    color: var(--foot-title-color);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    
}

.point_list {
    color: white;
    margin-bottom: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    
}


/* #endregion big_foot container  */

.small_foot {
    width: 19.5%;
}


.utility_footer {
    height: 100px;
    background-color: var(--dark-color);
}

.utility_container {
    width: 75%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot_logo {
    text-align: center;
}

.sign_in {
    text-align: center;
    color: white;
    background-color: var(--button-color);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    
}

/* #endregion footer */