/* #region general */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    --main-color: rgba(49, 97, 224, 1);
    --light-color: rgba(114, 137, 218, 1);
    --lighter-color: rgba(246, 246, 246, 1);
    --dark-color: rgba(35, 39, 42, 1);
    --foot-title-color: rgba(114, 137, 218, 1);
    --button-color: rgba(142, 161, 225, 1);
}

/* #endregion general */

/* #region utility  */
.content {
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section{
    display:flex ;
    justify-content: center;
    align-items: center;
}

.big_block {
    height: 425px;
    width: 45%;
}

.small_block {
    background-image: pink;
    height: 425px;
    width: 30%;
}

.wave>img {
    width: 100%;
    fill: aliceblue;
}
/* #endregion utility  */


/* #region header */

header {
    padding: 1rem;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #region nav */

nav {
    height: 30px;
    width: 75%;
    display: flex;
}

.nav {
    justify-content: center;
    align-items: center;

}


.logo {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.link {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.login {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.login_button {
    background-color: var(--lighter-color);
    text-decoration: none;
    color: black;
    width: 30%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.click_link {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.nav_link {
    color: var(--lighter-color);
    text-decoration: none;
}

/* #endregion nav */
/* #endregion header */

/* #region main */

.introduction {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 70px 0 150px 0;
    display: flex;
    flex-direction: column;
}
.intro {
    width: 50%;
    text-align: center;
    color: var(--lighter-color);
}

.mac{
    color: black;
    text-decoration: none;
    margin: 10px 10px 5px 10px;
    background-color: var(--lighter-color);
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
}
.open{
    color: var(--lighter-color);
    text-decoration: none;
    margin: 10px 10px 5px 10px;
    background-color: var(--dark-color);
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
}


.server {
    background-color: white;
    padding: 100px 0 100px 0;
    height: 900px;
}
.server_container {
    width: 75%;
    display: flex;
}   
.image_server {
    width: 65%;
    background-image: url(../img/item1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 450px;
}
.text_server {
    width: 35%;
}
h2 {
    font-size: 60px;
    margin-bottom: 0;
}
.p_section {
    font-size: 1.55rem;;
} 


.channel {
    background-color: rgb(201, 201, 201);
    padding: 100px 0 100px 0;
}

.comunity {
    background-color: white;
    padding: 100px 0 100px 0;
}

.tecnology {
    background-color: rgb(201, 201, 201);
    height: 700px;
}

.tecnology_block {
    background-color: green;
    width: 75%;
    height: 650px;
}

/* #endregion main */

/* #region footer */

.main_footer {
    height: 400px;
    background-color: rgb(31, 31, 31);
    border-bottom: 3px solid white;
}

.big_foot {
    background-color: brown;
    width: 23%;
    height: 350px;
}

.small_foot {
    background-color: rgb(1, 157, 157);
    width: 13%;
    height: 350px;
    border: 3px dashed white;
}

.utility_footer {
    height: 100px;
    background-color: rgb(31, 31, 31);
    display: flex;
    align-items: flex-end;
}

.utility_container {
    width: 75%;
    height: 70px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot_logo {
    width: 50px;
    height: 25px;
    background-color: white;
    text-align: center;
}

.button {
    width: 80px;
    height: 25px;
    background-color: white;
    text-align: center;
}

/* #endregion footer */

